@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.clear
{
    clear: both;
}
a, a:hover, a:visited
{
    text-decoration: none;
}
a
{
    color: #004e4e;
}
a:hover
{
    color: #002a2a;
}
a:visited
{
    color: #226f6f;
}
body
{
    font-family: "Open Sans", sans-serif;
    color: #4f4f4f;
    font-size: 14px;
}
p
{
    line-height: 26px;
}

/*Image Hover Stuff*/
.image-wrap
{
	position: relative;
	overflow: hidden;
	display: block;
    
    /*Important: have to set this to 
    the width and height of the image inside*/
    width: 250px;
    height: 300px;
}
.zoom-icon {
    display:block;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	cursor:pointer;
	background:rgba(0, 0, 0, .5);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	opacity:0;
				}
.zoom-icon:before {
	content:"";
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	width:45px;
	height:60px;
	margin:-30px 0 0 -22px;
	/*background:url(images/magnify-alt.png) 50% 50% no-repeat;*/
	background:url(../images/plus.png) 50% 50% no-repeat;
}
.image-wrap:hover .zoom-icon {opacity:1;}

/*------------General Rules----------------*/
.mobile-nav
{
    display: none;
}
#topScroll
{
    display: none;
}
.inner-wrapper
{
    width: 1170px;
    margin: 0 auto;
    clear: both;
}
h1.title
{
    position: relative;
    display: inline-block;
    font-size: 70px;
    text-transform: uppercase;
    padding-left: 167px;
    padding-right: 167px;
    line-height: 70px;
    font-weight: 300;
    margin-bottom: 100px;
}
h1.title::before
{
    content: "";
    position: absolute;
    left: 0px;
    top:33px;
    background: #4f4f4f;
    width: 127px;
    height: 3px;
}
h1.title::after
{
    content: "";
    position: absolute;
    right: 0px;
    top:33px;
    background: #4f4f4f;
    width: 127px;
    height: 3px;
}
h1.title-white
{
    position: relative;
    display: inline-block;
    font-size: 70px;
    text-transform: uppercase;
    padding-left: 167px;
    padding-right: 167px;
    line-height: 70px;
    font-weight: 300;
    margin-bottom: 100px;
}
h1.title-white::before
{
    content: "";
    position: absolute;
    left: 0px;
    top:33px;
    background: #fff;
    width: 127px;
    height: 3px;
}
h1.title-white::after
{
    content: "";
    position: absolute;
    right: 0px;
    top:33px;
    background: #fff;
    width: 127px;
    height: 3px;
}
.span4
{
    width: 250px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.span4:nth-of-type(4n+1)
{
    margin-left: 0;
    margin-right: 40px;
}
.span4:nth-of-type(4n+4)
{
    margin-right: 0;
    margin-left: 40px;
}
.span3
{
    width: 350px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.span3:nth-of-type(3n+1)
{
    margin-left: 0;
    margin-right: 40px;
}
.span3:nth-of-type(3n+3)
{
    margin-right: 0;
    margin-left: 40px;
}
.span2
{
    width: 500px;
    margin-bottom: 50px;
}
.span2:nth-of-type(2n+1)
{
    float: left;
    margin-left: 50px;
    clear: left;
}
.span2:nth-of-type(2n+2)
{
    float: right;
    margin-right: 50px;
    clear: right;
}

/*Header*/
#header
{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}
#header h1
{
    display: none;
}
#header nav
{
    float: right;
}
#header nav ul
{
    list-style: none;
}
#header nav ul li
{
    display: inline;
}
#header nav ul li a
{
    display: inline-block;
    padding: 10px;
    padding-top: 30px;
    color: #444;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.5s all ease-out;
}
#header nav ul li a:hover
{
    color: #FA1E1E;
}
/*Banner*/
#banner
{
    padding-top: 200px;
    padding-bottom: 240px;
    text-align: center;
    border-bottom: 1px solid #000;
    background-color: #2C2B2F;
    background: url("../images/banner-blur-dark.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#banner h1
{
    text-transform: uppercase;
    font-size: 80px;
}
a.cta-banner
{
    font-size:14px;
    display: inline-block;
    line-height: 40px;
    padding: 0.5em 1em;
    border: 1px solid #fff;
    margin-top: 50px;
    transition: 0.5s all ease-out;
    color: #fff;
    text-transform: uppercase;
}
.cta-banner:hover
{
    background-color: rgba(0,0,0,0.3);
}
/*Nosotros*/
#nosotros
{
    padding-top: 120px;   
    padding-bottom: 120px;
    /*border-bottom: 1px solid #000;*/
    text-align: center;
    overflow: auto;
    background: url("../images/stressed_linen.png") repeat;
    color: #fff;
}
#nosotros .us-block h2
{
    text-transform: uppercase;
    font-weight: 600;
}
.icon
{
    display: inline-block;
    font-size: 70px;
    background-color: #129696;
    border: 2px solid #fff;
    color: #fff;
    width: 170px;
    height: 170px;
    line-height: 170px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 2px rgba(75, 75, 75, 1);
}

#nosotros .us-block p
{
    width: 200px;
    display: block;
    margin: 0 auto;
}
/*Servicios*/
#servicios
{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    overflow: auto;
     background: url("../images/bg_blue.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#servicios .serv-block h2
{
    padding-bottom: 15px;
}
/*Clientes*/
#clientes
{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    overflow: auto;
}
#clientes .client-block h2
{
    padding-bottom: 15px;
}
#clientes .client-block img
{
    border-radius: 50%;
}
/*Footer*/
#footer, #copyright
{
    background: url("../images/asfalt.png") repeat;
}
#footer
{
    clear: both;
    padding-top: 80px;
    color: #fff;
    /*background-color: #4f4f4f;*/
    overflow: auto;
    border-bottom: 1px solid #333;
}
#footer nav ul
{
    list-style: none;
    margin: 0; padding: 0;
}
#footer .footer-block
{
    text-align: center;
    font-weight: 300;
}
#footer .footer-block h3
{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    
}
#footer nav ul li a
{
    color: #ffbd7a;
    padding: 5px;
}
#footer nav ul li a:hover
{
    color: #aa6825;
}
#footer .social-media
{
    clear: both;
    width: 265px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
#footer .social-media a
{
    color: #eee;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #161718;
    border: 1px solid #111;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: inset 5px 2px 5px #111;
    margin: 5px;
    transition: 0.5s all ease-out;
}
#footer .social-media a:hover
{
    color: #FA1E1E;
}
    
#copyright
{
    clear: both;
    color: #eee;
    background-color: #4f4f4f;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;

}
#copyright p
{
    float: right;
    
}


/*-------------Nosotros----------*/
#principios, #historia, #misvis, #equipo
{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

/*Principios*/
#principios
{
    background: url("../images/stressed_linen.png") repeat;
    color: #fff;
    padding-bottom: 120px;
    overflow: auto;
}
#principios .icon
{
    background-color: #D92C40;
}
#principios .pr-block h2
{
    text-transform: uppercase;
    font-weight: 600;
}
/*Mision y Vision*/
#misvis
{
    background: url("../images/bg_red.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    overflow: auto;
}
#misvis .misvis-block p
{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Historia*/
#historia
{
    padding-bottom: 60px;
}
#historia p
{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtle-separator
{
    width: 900px;
    margin: 0 auto;
    height: 1px;
    border: 0px;
    background-color: #e5e5e5;
}

/*Equipo*/
#equipo
{
    padding-top: 60px;
}
#equipo .eq-block img
{
    border-radius: 50%;
}
#equipo .eq-block h2
{
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #EF8024;
    font-size: 18px;
}
/*-------------Servicios----------*/
#serv-ofrecidos, #industrias, #socios
{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
/*Servicios*/
#serv-ofrecidos
{
    background: url("../images/stressed_linen.png")  repeat;
    color: #fff;
    overflow: auto;
}
#serv-ofrecidos .sr-block h2
{
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}
/*Industrias*/
#industrias
{
    background: url("../images/bg_blue.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    color: #fff;
}
#industrias .ind-block .icon
{
    background-color: #D92C40;
}
#industrias .ind-block h2
{
    font-size: 16px;
    text-transform: uppercase;
}
#industrias .addon
{
    clear: both;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
}
/*Socios*/
#socios .mensaje
{
    text-align: justify;
    margin-top: 20px;
    overflow: auto;
}
#socios .title
{
    margin-bottom: 40px;
}
#socios .mensaje .prosa
{
    width: 600px;
    margin: 0 auto;
}
#socios .mensaje strong
{
    font-weight: 600;
}
#socios .span2
{
    width: 550px;
}
#socios .mensaje .cont-list
{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
#socios .mensaje ul
{
    text-align: left;
    list-style: none;
    float: left;
    width: 200px;
    margin-right: 50px;
}
#socios .mensaje ul li
{
    padding: 8px 0 8px 20px;
    position: relative;
}
#socios .mensaje ul li:before
{
    content: "\f18e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #EF8024;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 8px;
    left: 0;
}
#socios .logos-socios
{
    padding-top: 40px;
}
/*---------Productos--------*/
#productos
{
    overflow: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
#productos .prod-block
{
    text-align: left;
}
#productos .span3
{
    margin-bottom: 30px;
}
#productos .prod-block h2
{
    font-weight: 600;
    text-transform: uppercase;
    margin-top:5px;
    margin-bottom: 10px;
    color: #EF8024;
}
#productos .prod-block p
{
    color: #888;
    font-size: 12px;
    line-height: normal;
}
/*-------------Proyectos------------*/
#proyectos
{
    text-align: center;
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
#proyectos .span3
{
    width: 250px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}
#proyectos .span3:nth-of-type(3n+1)
{
    margin-left: 0;
    margin-right: 140px;
}
#proyectos .span3:nth-of-type(3n+3)
{
    margin-right: 0;
    margin-left: 140px;
}
#proyectos h1
{
    margin-bottom: 10px;
}
#proyectos h3
{
    margin-bottom: 50px;
}
#proyectos .pro-block a
{
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #eee;
    padding-bottom: 20px;
}
#proyectos .pro-block a h2
{
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
    color: #EF8024;
}
#proyectos .pro-block a p
{
    color: #888;
}
/*--------Contactos-------------*/
#contact-head
{
    padding-top: 100px;
    width: 100%;
    text-align: center;
}
#map
{
    height: 450px;
}
#map .map
{
    width: 100%;
    height: 450px;
}
#contact-info .info-block
{
    color: #222;
}
#contact-info .info-block h3
{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}
#contact-info
{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
#contact-form form
{
    clear: both;
    margin-bottom: 70px;
}
#contact-form form input, #contact-form form textarea
{
    border: 1px solid #d5d5d5;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}
#contact-form form input
{
    width: 350px;
}
#contact-form form input[type='submit']
{
    width: auto;
    margin-top: 15px;
    background-color: #004e4e;
    color: #fff;
    cursor: pointer;
    padding: 1.5em 3em;
}
#contact-form form textarea
{
    margin-top: 15px;
    width: 1100px;
    height: 300px;
}

/*--------------Responsive---------------*/
@media only screen and (max-width: 1200px)
{
    .inner-wrapper
    {
        width: 1000px;
    }
    .span4
    {
        width: 210px;
    }
    .span3
    {
        width: 293px;
    }
    .span3 img
    {
        width: 290px;
        height: auto;
    }
    #proyectos .span3 img
    {
        width: 100%;
        height: auto;
    }
    .span2
    {
        width: 400px;
    }
    
    #proyectos .span3
    {
        width: 250px;
        margin-left: 42px;
        margin-right: 42px;
        margin-top: 50px;
    }
    #proyectos .span3:nth-of-type(3n+1)
    {
        margin-left: 0;
        margin-right: 83px;
    }
    #proyectos .span3:nth-of-type(3n+3)
    {
        margin-right: 0;
        margin-left: 83px;
    }
    
    #contact-form input
    {
        display: block;
        margin: 20px 0;
    }
    #contact-form input:not([type='submit'])
    {
        width: 90%;
    }
    #contact-form form textarea
    {
        width: 90%;
    }
}
@media only screen and (max-width: 1020px)
{
    #header > .inner-wrapper > a
    {
        display: block;
    }
    #header > .inner-wrapper > a > img
    {
        display: block;
        margin: 0 auto;
    }
    #header nav
    {
        float: none;
        text-align: center;
    }
    .inner-wrapper
    {
        width: 800px;
    }
    .span4
    {
        width: 160px;   
    }
    .span2
    {
        width: 300px;
    }
    .span3
    {
        width: 226px;   
    }
    h1.title, h1.title-white
    {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .span3 img
    {
        width: 220px;
        height: auto;
    }
    #principios, #misvis, #historia, #equipo
    {
        padding-top: 80px;
    }
    .subtle-separator
    {
        width: 90%;
    }
    #productos
    {
        padding-top: 60px;
    }
    .zoom-icon
    {
        display: none;
    }
    
    
    #proyectos .span3
    {
        width: 200px;
        margin-left: 33px;
        margin-right: 33px;
        margin-top: 50px;
    }
    #proyectos .span3:nth-of-type(3n+1)
    {
        margin-left: 0;
        margin-right: 66px;
    }
    #proyectos .span3:nth-of-type(3n+3)
    {
        margin-right: 0;
        margin-left: 66px;
    }

}
@media only screen and (max-width: 820px)
{
    .inner-wrapper
    {
        width: 600px;
    }
    #banner, #nosotros, #servicios, #clientes
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #banner h1
    {
        font-size: 50px;
    }
    
    .span4:nth-of-type(4n+1)
    {
        margin: 50px auto;
    }
    .span4:nth-of-type(4n+4)
    {
        margin: 50px auto;
    }
    .span4
    {
        width: 300px;
        float: none;
        margin: 50px auto;
    }
    .span3:nth-of-type(3n+1)
    {
        margin: 0 auto;
    }
    .span3:nth-of-type(3n+3)
    {
        margin: 0 auto;
    }
    .span3
    {
        width: 300px;
        margin: 50px auto;
        float: none;
    }
    .span2:nth-of-type(2n+1)
    {
        float: none;
        margin: 0 auto;
    }
    .span2:nth-of-type(2n+2)
    {
        float: none;
        margin: 0 auto;
    }
    .span2
    {
        width: 300px;
        float: none;
        margin: 20px auto;
    }
    h1.title, h1.title-white
    {
        font-size: 20px;
    }
    h1.title::before
    {
        width: 100px; 
        height: 1px;
    }
    h1.title::after
    {
        width: 100px;
        height: 1px;
    }
    #copyright
    {
        text-align: center;
    }
    h1.title-white::before
    {
        width: 100px;
        height: 1px;
    }
    h1.title-white::after
    {
        width: 100px;
        height: 1px;
    }
    #copyright p
    {
        float: none;
    }
    

    .big-nav
    {
        display: none;
    }
    #header .mobile-nav
    {
        display: block;
        margin-top: 20px;
    }
    #header .hamburger
    {
        border: 1px solid #004e4e;
        display: block;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 20px;
    }
    #header .mobile-nav .mob-sq
    {
        display: none;
    }
    #header .mobile-nav ul li a
    {
        display: block;
        border-bottom: 1px solid #888;
    }
    #topScroll
    {
        display: block;
        position:fixed;
        bottom: 10px;
        right: 20px;
    }
    #topScroll span
    {
        font-size: 60px;
    }
    h1.title, h1.title-white
    {
        line-height: normal;
        margin-bottom: 30px;
    }
    #productos .span3
    {
        text-align: center;
    }
    #productos .image-wrap
    {
        text-align: center;
        display: inline-block;
    }
    #productos .image-wrap img
    {
        width: 100%;
        height: auto;
    }
    
    #proyectos .span3
    {
        width: 350px;
        margin: 50px auto;
    }
    #proyectos .span3:nth-of-type(3n+1)
    {
        margin: 50px auto;
    }
    #proyectos .span3:nth-of-type(3n+3)
    {
        margin: 50px auto;
    }
    #map
    {
        width: 90%;
        margin: 20px auto;
    }
}
@media only screen and (max-width: 630px)
{
    .inner-wrapper
    {
        width: 500px;
    }
    #socios .mensaje .prosa
    {
        width: 100%;
        margin: 0 auto;
    }
    #socios .mensaje .cont-list
    {
        width: 100%;
    }
    #socios .mensaje ul
    {
        text-align: left;
        list-style: none;
        float: none;
        width: auto;
        margin-right: 0;
    }
    #map .map
    {
        height: 300px;
    }
    
    
}
@media only screen and (max-width: 540px)
{
    .inner-wrapper
    {
        width: 400px;
    }
    h1.title, h1.title-white
    {
        font-weight: 600;
        padding: 0;
    }
    h1.title::before, h1.title::after, h1.title-white::before, h1.title-white::after
    {
        content: none;
    }
    #proyectos .span3
    {
        width: 300px;
    }
}
@media only screen and (max-width: 430px)
{
    .inner-wrapper
    {
        width: 350px;
    }
    #banner h1
    {
        font-size: 25px;
    }
    #proyectos .span3
    {
        width: 200px;
    }
}
@media only screen and (max-width: 380px)
{
    .inner-wrapper
    {
        width: 300px;
    }
}