
#hint-mdn .note
{
    background: #f9f8e6;
    background: rgba(231,228,157,.25);
    border-color: #fcfbf1;
    border-color: rgba(231,228,157,.15);
    border-style: solid;
    border-width: 5px;
    color: #595959;
    color: rgba(0,0,0,.65);
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px 15px
}

#hint-mdn [dir=ltr] .htmlelt
{
    clear: left;
    border-left: 6px solid #ffcb80;
    border-left: 6px solid rgba(255,149,0,.5); 
}
#hint-mdn .text-content ol, #hint-mdn .text-content ul
{
    padding-left: 40px;
    margin-bottom: 24px;
}
#hint-mdn .text-content ul
{
    list-style: disc;
}
#hint-mdn .htmlelt
{
    display: table;
    padding: 11px 22px;
    background-color: #fff5e6;
    background-color: rgba(255,149,0,.1);
}