@import url(http://fonts.googleapis.com/css?family=Noticia+Text:regular);
@import url(http://fonts.googleapis.com/css?family=Cherry+Cream+Soda:regular);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes:regular);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200);

.submiss
{
    color: #888;
}
.card
{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 0px rgba(140,140,140,1);
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    overflow: auto;
}
.stream-add
{
    float: left;
    display: block;
    transition: .2s all ease-out;
    transform: rotate(0deg);
}
.stream-add:hover
{
    transform: rotate(90deg);
}

/*Skeleton*/
.skel-elements
{
    list-style: none;
    margin: 0; padding: 0;
}
.skel-block
{
    overflow: auto;
    clear: both;
    padding: 10px;
    background-color: #fff;
}
.skel-block a
{
    margin-top: 15px;
}

.skel-element
{
    margin-left: 30px;
}
.skel-elem-add
{
    font-size: 20px;
}
.fa-plus-circle
{
    color: #5CB85C;
}
.fa-minus-circle
{
    color: #D9534F;
}
.skel-preview-block
{
    width: 100%;
}
#skel-preview .alert-info
{
    font-family: sans-serif;
    padding: 10px;
}

/*CSS Reset*/
.css-reset-action
{
    display: block;
    margin: 0 auto;
}
/*Minifier*/
.status-messages
{
    margin-top: 10px;
}
.alert
{
    border-width: 1px;
    border-style: solid;
}
.alert-success
{
    background-color: #DFF0D8;
    border-color: #d6e9c6;
}
.alert-danger
{
    background-color: #F2DEDE;
    border-color: #ebccd1;
}
.alert-info
{
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.mini-success, .mini-error
{
    display: none;
    overflow: auto;
    width: 500px;
}
strong
{
    color: inherit;
}

/*Typography*/
.sans-title
{
    font-family: Helvetica, Arial, sans-serif;
}
.serif-title
{
    font-family: 'Noticia Text', serif;
}
.display-title
{
    font-family: 'Cherry Cream Soda';
}
.handwriting-title
{
    font-family: 'Great Vibes';
}
.mono-title
{
    font-family: 'Source Code Pro';
}
.modal-dialog, #typo-modal-content
{
    margin: 0; padding: 0;
}
#typo-container
{
    width: 700px;
    height: 80%;
    background-color: #fff;
}
.str-tab-nav
{
    margin-left: -25px;
    border-bottom: 1px solid #ccc;
}
.str-nav-link a
{
    padding: 10px;
    color: #4aaffF;
    font-weight: bold;
}
.str-nav-link .selected
{
    color: #066cbd;
}
.str-nav-container
{
    list-style: none;
}
.str-nav-container li
{
    display: inline-block;
    width: 33%;
    padding-top: 10px;
    text-align: center;
}
.typo-block
{
    color: #444;
}
.typo-block:hover
{
    text-decoration: none;
    color: #444;
}
.typo-block-header
{
    padding: 10px;
    border-bottom: 1px solid #444;
}
.typo-block-body
{
    padding: 10px;
}
.stream-add
{
    float: right;
    font-size: 20px;
}
.typo-body .title
{
    text-transform: uppercase;
    font-size: 16px;
}

#typo-page-fonts, #typo-page-browse, #typo-page-personal
{
    display: none;
}
#typo-page-fonts
{
    padding: 20px;
}
#typo-font-list
{
    list-style: none;
    margin: 0; padding: 0;
}
.typo-fontblock
{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    overflow: auto;
}
.typo-fontblock h4
{
    display: none;
    font-size: 22px;
}
.typo-fontblock h4.typo-fontloading
{
    display: block;
}
a.font-remove
{
    color: red;
}
#typo-font-list-browse, #typo-font-list-personal
{
    margin: 0; padding: 0;
}

/*Palette Tool*/
.pal-added-block
{
    width: 40px;
    height: 40px;
    float: left;
}
#pal-page-browse, #pal-page-personal
{
    display: none;
}
.pal-list li
{
    padding: 10px;
}
.pal-list
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.color-picker
{
    width: 40%;
    float: left;
}
/*Code hint*/
.hintElement
{
    background-color: #000;
    color: #fff;
    display: inline;
}
/*PANEL*/
#codehintpanel
{
    position: relative;
}
.hint-main
{
    height: 100%;
    overflow: auto;
}
.hint-collapsable
{
    height: 100%;
    background-color: #DADDDD;
    overflow: auto;
    float: right;
    width: 15%;
    display: none;
}
#codehintpanel .toolbar {
    display: block;
}

#codehintpanel .toolbar .panel-action {
    font-weight: bold;
    font-height: 20px;
    color: #171D20;
    margin-right: 10px;
    float
}

#codehintpanel .toolbar .panel-action:hover {
    text-decoration: none;
    color: #000;
}

#codehintpanel .toolbar button.copy-table {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    padding: 0 10px;
    margin-right: 20px;
    font-size: 90%;
}
.hint-container
{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    padding-top: 0;
    margin-top: 20px;
    position: relative;
    vertical-align: top;    
}
.hint-container-title
{
    border-bottom: 1px solid #eee;
    padding: 10px;
    margin-left: -30px;
    margin-right: -30px;
    background-color: #5B5F64;
    color: #fff;
}
.collapsable
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.bookmark
{
    right: 35px;
    font-size: 16px;
    display: none;
}
.hint-block .alert
{
    margin-top: 10px;
}
.source-title
{
    font-size: 16px;
    color: #fff;
}
.saved-hints
{
    list-style: none;
    margin: 0; padding: 0;
}
.saved-hints li
{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#list-of-matches
{
    list-style: none;
}
#list-of-matches li
{
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 90%;
    min-width: 700px;
    margin: 0 auto;
}

.invisible
{
    display: none;
}
/*Settings */
.setting-label
{
    display: inline;
}