<div id="codehintpanel" class="bottom-panel vert-resizable top-resizer">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
    
    <div class="toolbar simple-toolbar-layout">
        <span class="pull-right">
            <!--<button class="btn btn-mini snippets-settings">Settings...</button>-->
            <a href="#" class="panel-action" id="launch-help" title="Help..."><i class="fa fa-question-circle"></i></a>
            <a href="#" class="panel-action bookmark" id="bookmark-source" title="Bookmark"><i class="fa fa-bookmark-o"></i></a>
            <a href="#" class="panel-action" id="toggle-saved" title="Toggle Saved Hints"><i class="fa fa-toggle-off"></i></a>
            <a href="#" class="panel-action" id="hints-clearbtn" title="Clear Hints"><i class="fa fa-circle-o"></i></a>
            <a href="#" class="panel-action snippets-close" title="Close"><i class="fa fa-times"></i></a>
        </span>
        <span class="title">Code Hinter</span>
        <h5><span class="submiss"><i class="fa fa-search"></i> Current Search: <span id="being-searched"></span></span></h5>
    </div>
    <div class="resizable-content" id="hint-content">
        <ul id="list-of-matches"></ul>
        
        <!-- Save useful links -->
        <div class="hint-collapsable" id="saved-links-container">
            <ul class="saved-hints" id="saved-links-list"></ul>
        </div>
        
        <!-- Cards -->
        <div class="hint-main">
            <div class="hint-container card">
                <a href="#" class="collapsable"><i class="fa fa-caret-up"></i></a>
                <div class="hint-container-title">
                    <span class="source-title">Source:</span> MDN
                </div>
                <div id="hint-mdn" class="hint-block">
                    <div class="alert alert-info">Code documentation will appear here. Start typing to get a list of code hints and select the one you want to see.</div>
                    <div class="alert alert-danger invisible" role="alert">
                        Sorry, there is no documentation for this source.
                    </div>
                </div>
            </div>
            
            <div class="hint-container card">
                <a href="#" class="collapsable"><i class="fa fa-caret-up"></i></a>
                <div class="hint-container-title">
                    <span class="source-title">Source:</span> W3Schools
                </div>
                <div id="hint-schools" class="hint-block">
                    <div class="alert alert-info">Code documentation will appear here. Start typing to get a list of code hints and select the one you want to see.</div>
                    <div class="alert alert-danger invisible" role="alert">
                            Sorry, there is no documentation for this source.
                    </div>
                </div>
            </div>
        </div><!--Hint Main-->  
    </div>
</div>