<div class="modal">
  <div class="modal-dialog">
  
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close" id="close-btn"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Minify CSS</h4>
      </div>
      
	  <div class="modal-body">
          
          <p>Minification is the process of removing unnecessary data without affecting how the file is viewed by the browser. A minified will load faster because it has a reduced amount of data that needs to be transferred through the internet.</p>
          
          <button type="button" class="btn primary minifier-action" data-button-id="ok" id="action-btn">Minify</button>
        
          <div id="status-messages">
            <!--Status messages added dynamically-->
            
            <div class="alert alert-success mini-success" role="alert">
                <div>The file was successfully minified!</div>
                
                <div>Your new minified file can be found at:</div>
                <div><span class="mini-path"></span></div>
                
                <div>
                    <div><strong>Old File Size:</strong> <span class="mini-oldsize"></span>KB</div>
                    <div><strong>New File Size:</strong> <span class="mini-newsize"></span>KB</div>
                </div>
            </div>  
              
            <div class="alert alert-danger mini-error" role="alert">
                The current file is not minifiable. Please make sure that the file has a .css extension.
            </div>
        </div>
       
      </div>
    
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->