<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content" id="pal-content">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close" id="close-btn"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Color Palette Tool</h4>
      </div>
        
        <div id="typo-nav" class="str-tab-nav">
                <ul class="typo-nav-container str-nav-container">
                    <li class="typo-nav-link str-nav-link"><a href="" class="selected" id="navigate-home">Create Palette</a></li>
                    <li class="typo-nav-link str-nav-link"><a href="" id="navigate-browse">Browse Palettes</a></li>
                    <li class="typo-nav-link str-nav-link"><a href="" id="navigate-personal">My Palettes</a></li>
                </ul>
            </div>
      
	  <div class="modal-body" id="pal-page-create">
          <div class="color-picker">
            <h3>Color Picker</h3>
            <div id="picker"></div>
          </div>
          <div class="palette-created-container">
            <h3>Palette Created</h3>
            <input type="text" val="" placeholder="Name of the Palette" id="pal-usergiven-name" />
            <div>The colors you select for your palette will appear here</div>
            <div id="pal-user-selections"></div>
          </div>
      </div>
      <div class="modal-body" id="pal-page-browse">
                <h3 class="title">Browse Palettes</h3>
                <ul id="pal-list-browse" class="pal-list"></ul>
      </div>
      <div class="modal-body" id="pal-page-personal">
                <h3 class="title">My Palettes</h3>
                <ul id="pal-list-personal" class="pal-list"></ul>
      </div>
      
	  <div class="modal-footer">
        <button type="button" class="btn primary" data-button-id="ok" id="action-btn">Insert Colors</button>
      </div>
    
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->