<div class="modal">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close" id="close-btn"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Create an HTML Skeleton</h4>
      </div>
      
	  <div class="modal-body">
          <p>The Skeleton tool helps you create the basic HTML skeleton for initial development. With it you can also add different elements to your files based on your selections.</p>
          
          <h4>How to use</h4>
          <p>Hit the <i class="fa fa-plus-circle"></i> button to add the desired code to your document. To undo, hit the <i class="fa fa-minus-circle"></i>. You can see exactly what will be added in the preview panel.</p>
          
          <h3>Elements to Include</h3>
          <ul class="skel-elements">
              <li class="skel-block card">
                  <a href="" class="skel-elem-add stream-add" id="full-skeleton" data-index="0"><i class="fa fa-plus-circle"></i></a>
                  <div class="skel-element">
                    <h4>Full Skeleton</h4>
                    
                    <code>
<pre>&lt;!DOCTYPE html&gt;
&lt;html lang=""&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;link rel="stylesheet" href=""&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
                    </code>
                    
                  </div>
              </li>
              <li class="skel-block card">
                  <a href="" class="skel-elem-add stream-add" id="doctype" data-index="1"><i class="fa fa-plus-circle"></i></a>
                  <div class="skel-element">
                    <h4>Doctype</h4>
                    <code><pre>&lt;!DOCTYPE html&gt;</pre></code>
                  </div>
              </li>
              <li class="skel-block card">
                  <a href="" class="skel-elem-add stream-add" id="x-style" data-index="2"><i class="fa fa-plus-circle"></i></a>
                  <div class="skel-element">
                    <h4>External Stylesheet</h4>
                    <code><pre>&lt;link rel="stylesheet" href=""&gt;</pre></code>
                  </div>
              </li>
              <li class="skel-block card">
                  <a href="" class="skel-elem-add stream-add" id="x-script" data-index="3"><i class="fa fa-plus-circle"></i></a>
                  <div class="skel-element">
                    <h4>External Script</h4>
                    <code><pre>&lt;script src=""&gt;&lt;/script&gt;</pre></code>
                  </div>
              </li>
              <li class="skel-block card">
                  <a href="" class="skel-elem-add stream-add" id="skel-body" data-index="4"><i class="fa fa-plus-circle"></i></a>
                  <div class="skel-element">
                    <h4>Body</h4>
                    <code><pre>&lt;body&gt;&lt;/body&gt;</pre></code>
                  </div>
              </li>
              <li class="skel-block card">
                  <a href="" class="skel-elem-add stream-add" id="skel-lorem" data-index="5"><i class="fa fa-plus-circle"></i></a>
                  <div class="skel-element">
                    <h4>Lorem Ipsum Text</h4>
                    <h5>What is Lorem Ipsum?</h5>
                    <p>Lorem Ipsum is just dummy text. Because readers get distracted by readable content when looking at a page's layout, Lorem Ipsum is used to avoid this, plus it has a normal distribution of letters, appearing to be real text, thus giving a feeling of reality to your design.</p>
                  </div>
              </li>
          </ul>
          
          <div class="skel-preview-block">
            <h4>Preview</h4>
              
              <div>
                  <code><pre id="skel-preview"><div class="alert-info">There is nothing to preview yet. Start adding elements to see the code that will be inserted.</div></pre></code>
              </div>
          </div>
      </div>
      
	  <div class="modal-footer">
        <button type="button" class="btn primary" data-button-id="ok" id="action-btn">Create Skeleton</button>
      </div>
    
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->