<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content" id="typo-modal-content">
            
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            
            <div id="typo-header" class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close" id="close-btn"><span aria-hidden="true">&times;</span></a>
                <h4 class="modal-title">Typography</h4>
            </div>
            
            <div id="typo-nav" class="str-tab-nav">
                <ul class="typo-nav-container str-nav-container">
                    <li class="typo-nav-link str-nav-link"><a href="" class="selected" id="navigate-home">Select Fonts</a></li>
                    <li class="typo-nav-link str-nav-link"><a href="" id="navigate-browse">Browse Collections</a></li>
                    <li class="typo-nav-link str-nav-link"><a href="" id="navigate-personal">My Collections</a></li>
                </ul>
            </div>
            
                <div class="typo-body modal-body" id="typo-page-fontcatselect">
                <a class="typo-block card" data-category="sans-serif" href="">
                    <div class="typo-block-header">
                        <h5 class="sans-title">Sans-Serif</h5>
                    </div><!--Block Header-->
                    <div class="typo-block-body">
                        <p>Sans-serif fonts are fonts that do not have "serifs" at the end of strokes. They are widely used for displaying text on computer screens and headlines in print.</p>
                    </div>
                </a><!--Block-->
                <a class="typo-block card" href="" data-category="serif">
                    <div class="typo-block-header">
                        <h5 class="serif-title">Serif</h5>
                    </div><!--Block Header-->
                    <div class="typo-block-body">
                        <p>Serif fonts contain "serifs" which are small lines attached at the end of a stroke in a letter or symbol. They are widely used for body text in print.</p>
                    </div>
                </a><!--Block-->
                <a class="typo-block card" href="" data-category="display">
                    <div class="typo-block-header">
                        <h5 class="display-title">Display</h5>
                    </div><!--Block Header-->
                    <div class="typo-block-body">
                        <p>Display type refers to the use of type at large sizes. Some are considered useful solely at display sizes. Common features of display type include tighter default letter spacing, finer details and serifs, slightly more condensed letter shapes and larger differences between thick and thin strokes.</p>
                    </div>
                </a><!--Block-->
                <a class="typo-block card" href="" data-category="handwriting">
                    <div class="typo-block-header">
                        <h5 class="handwriting-title">Handwriting</h5>
                    </div><!--Block Header-->
                    <div class="typo-block-body">
                        <p>Handwriting or script fonts imiitate handwriting and use varied and fluid strokes. They are organized into highly regular formal types similar to cursive writing and looser, more casual scripts.</p>
                    </div>
                </a><!--Block-->
                <a class="typo-block card" href="" data-category="monospace">
                    <div class="typo-block-header">
                        <h5 class="mono-title">Monospace</h5>
                    </div><!--Block Header-->
                    <div class="typo-block-body">
                        <p>A monospaced font has letters and characters that occupy the same amount of horizontal space. They are widely used by IDEs and software text editors to increase the readability of source code.</p>
                    </div>
                </a><!--Block-->
            </div>
            <div class="typo-body modal-body" id="typo-page-fonts">
                <h3 class="title"><span class="typo-category-selected"></span> Fonts</h3>
                <input type="radio" name="typo-dloption" value="html" checked>HTML<br>
                <input type="radio" name="typo-dloption" value="css">CSS
                <ul id="typo-font-list"></ul>
           </div>
            <div class="typo-body modal-body" id="typo-page-browse">
                <h3 class="title">Browse Collections</h3>
                <ul id="typo-font-list-browse"></ul>
           </div>
            <div class="typo-body modal-body" id="typo-page-personal">
                <h3 class="title">My Collections</h3>
                <ul id="typo-font-list-personal"></ul>
           </div>
            
            <div class="modal-footer">
                <button type="button" class="btn primary" data-button-id="ok" id="action-btn">Insert Fonts</button>
            </div>
            
        </div>
    </div>
</div>