<div class="modal">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close" id="close-btn"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Preferences</h4>
      </div>
      
	  <div class="modal-body">
          <h3><i class="fa fa-cog"></i> Preferences</h3>
          <h4>Privacy</h4>
          <form class="preferences-form">
              <div>
                <input type="checkbox" id="share-colors" checked="checked" />
                <label class="setting-label" for="share-colors">Share Color Combinations with other users<br></label>
              </div>
              <div>
                <input type="checkbox" id="share-fonts" checked="checked" />
                <label class="setting-label" for="share-fonts">Share Font Collections with other users<br></label>
              </div>
        </form>
      </div>
	  <div class="modal-footer">
        <button type="button" class="btn primary" data-button-id="ok" id="action-btn">Save Preferences</button>
      </div>
    
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->